.register {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 2rem auto;
}
.register input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.register button {
  background: var(--primary);
  color: #333333;
}
.status {
  margin-top: 1rem;
  text-align: center;
}
